@font-face{
  font-family: "DalelandsUncial";
  src: url('DalelandsUncial-BOpn.ttf') format('truetype');
  font-family: "MAGIC";
  src: url('MAGIC.ttf') format('truetype');
}

* {
  	box-sizing: border-box;
  	font-family: "Fira Sans", "Montserrat", sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
    margin: 0;
    border: 0;
    padding: 0;
    cursor: url("cursor.png"), default;
}

img{
  padding: 8px;
  width: 125px;
  transition: 0.2s;
}

img:hover{
  width: 225px;
  height: auto;
}

#main_body{
  background-image: url('mtg_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.top_header_section{
  background: url('leather_background.jpg');
  height: 130px;
}

.top_header_text{
  font-family: "MAGIC", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 48px;
  padding: 30px 0 55px 0;
  color: black;
  text-shadow: rgba(255,255,255,1) 2px 0 20px;
}

#tutorial_heading{
  position: absolute;
  font-size: 30px;
  color: white;
  top: 60px;
  left: 30px;
  padding: 8px 6px 0px 8px;
  font-family: "MAGIC", sans-serif;
  background: rgba(10,10,10,0.3);
  border-radius: 2px;
  transition: 0.4s;
}

#tutorial_heading:hover{
  background: rgba(255,255,255,0.8);
  color: black;
  border-radius: 8px;
}

#tutorial_section{
  position: absolute;
  left: 30px;
  top: 105px;
  display: none;
}

.tutorial_section_list{
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 16px;
  width: 375px;
  color: white;
  background: rgba(10,10,10,0.6);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 0 8px 12px;
}

#tutorial_x_out{
  text-align: right;
  padding: 12px 12px 0 0;
  background: rgba(10,10,10,0.6);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 20px;
  transition: 0.3s;
}

#tutorial_x_out:hover{
  color: white;
}

.description_section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.description{
  font-family: "MAGIC", sans-serif;
  font-size: 40px;
  text-shadow: rgba(255,255,255,1) 2px 0 20px;
  -webkit-text-stroke: 2px white;
}

.search_section{
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  font-family: "MAGIC", sans-serif;
  font-size: 24px;
  width: 300px;
  padding: 6px 4px 4px 6px;
  border: 2px solid black;
  background: white;
}

button{
  font-family: "MAGIC", sans-serif;
  font-size: 40px;
  transition: 0.2s;
}

.search_buttons{
  padding: 6px 12px 0px 12px;
  border-radius: 10px;
  margin-left: 3px;
  background: rgba(220,220,220,0.5);
  border: 2px solid black;
}
button:hover{
  background: black;
  color: white;
}

.lose_life_button{
  color: darkred;
  text-shadow: rgba(250,100,120,1) 0 0 8px;
  background: rgba(10,10,10,0.4);
  padding: 0 14px;
  border-radius: 8px;
}

.gain_life_button{
  color: white;
  text-shadow: rgba(120,240,200,0.8) 0 0 8px;
  background: rgba(10,10,10,0.4);
  padding: 0 14px;
  border-radius: 8px;
}

.directions{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  color: white;
  text-shadow: rgba(0,0,0,1) 2px 0 5px;
}

.land_section{
  display: flex;
  margin-top: 20px;
  margin-bottom: 18px;
}

.deck_titles{
  display: flex;
}

.information_sections{
  padding: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#card_image_section{
  margin: 16px;
  top: 280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

#card_section_with_counter{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 4px;
  flex-direction: column;
}

#land_section{
  margin: 16px;
  top: 280px;
}

.rotate {
  transform: rotate(15deg);
}

h2{
  font-size: 24px;
  text-shadow: rgba(0,0,0,1) 2px 0 5px;
  -webkit-text-stroke: 1px black;
  display: flex;
  justify-content: center;
}

.card_section_title{
  padding-top: 35px;
  font-size: 45px;
  color: white;
}

.life_section{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

h4{
  font-family: "MAGIC", sans-serif;
  font-size: 54px;
  padding: 8px;
  color: red;
}

.all_player_sections{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.opponent_section{
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 8px 0;
}

.opponent_name_inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 25px;
  gap: 50px;
}

#portfolio_link > a{
  font-size: 24px;
  color: rgba(240,240,240,0.9);
  transition: 0.2s;
  text-decoration: none;
}

#portfolio_link > a:hover{
  text-decoration: underline;
}

#portfolio_section{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgba(10,10,10,0.5);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#contact_information{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 8px;
  color: white;
  background-color: rgba(10,10,10,0.5);
  margin-top: 32px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

h5{
  color: white;
  background: black;
  transition: 0.1s;
  padding: 0 6px;
}

h5:hover{
  color: black;
  background: white;
}

.creature_information_section{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.creature_info{
  width: 90px;
  height: 30px;
  text-align: center;
}

.creature_info_heading{
  background: black;
  font-family: "MAGIC", sans-serif;
}

#card_image_section_opponent1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#card_image_section_opponent2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#card_image_section_opponent3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.basic_lands{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.land_search_button{
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid black;
  padding: 10px 6px 6px 6px;
  margin-top: 5px;
  background: rgba(220,220,220,0.5);
  transition: 0.8s;
}

.land_search_forest:hover{
  background: rgba(0,115,62,0.8);
  color: rgba(196,211,202,1);
}

.land_search_island:hover{
  background: rgba(14,104,171,0.8);
  color: rgba(179,206,234,1);
}

.land_search_mountain:hover{
  background: rgba(211,32,42,0.8);
  color: rgba(235,159,130,1);
}

.land_search_plains:hover{
  background: rgba(249,250,185,0.8);
  color: rgba(62,63,62,1);
}

.land_search_swamp:hover{
  background: rgba(21,11,0,0.8);
  color: rgba(166,159,157,1);
}

#open_color_popup{
  position: absolute;
  left: 10px;
  top: 10px;
  font-family: "MAGIC", sans-serif;
  font-size: 20px;
  color: rgba(240,240,240,0.9);
  border: 1px solid white;
  border-radius: 6px;
  padding: 4px;
  transition: 0.4s;
}

#open_color_popup:hover{
  background: black;
}

#select_color_identity{
  text-align: center;
  color: rgba(230,230,230,0.9);
  padding-top: 6px 6px;
  font-family: "MAGIC", sans-serif;
  font-size: 24px;

}

.color_list{
  color: rgba(220,220,220,0.9);
  background: rgba(15,15,15,0.99);
  margin: 12px 0px;
  padding: 12px 9px 0 9px;
  border-radius: 4px;
  transition: 0.3s;
}

.color_list:hover{
  background: white;
  color: black;
}

#color_identity_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  border-radius: 6px;
  gap: 20px;
  display: none;
}

#color_popup{
  width: 100%;
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: 1;
}

@media screen and (max-width: 600px){
  .top_header_text{
    padding: 48px 0;
    font-size: 28px;
  }
  #open_color_popup{
    font-size: 18px;
    left: 180px;
    top: 90px;
  }
  #tutorial_heading{
    font-size: 18px;
    top: 90px;
    left: 20px;
  }
  footer{
    font-size: 12px;
  }
  input{
    width: 250px;
  }
  .basic_lands{
    gap: 5px;
  }
}

@media (min-width: 601px) and (max-width: 1200px){
  .top_header_text{
    padding: 48px 0;
    font-size: 38px;
  }
  #open_color_popup{
    font-size: 18px;
    left: 180px;
    top: 90px;
  }
  #tutorial_heading{
    font-size: 18px;
    top: 90px;
    left: 20px;
  }
  footer{
    font-size: 12px;
  }
  .basic_lands{
    gap: 5px;
  }
}
